.fuck-css {
    padding-top: 2vh;
    overflow: visible;
    width: 100%;
    background: url("https://linnochlinn.se/2.png") no-repeat, url("https://linnochlinn.se/1.png") no-repeat;
    background-size: 400px auto;
    background-position-x: 5vw, 60vw;
    background-position-y: -2vw, -2vw;
    padding-bottom: 300px;
    margin-bottom: -300px;
}

.css-sucks {
    width: 530px;
    height: 190px;
    display: block;
    margin: auto;
    overflow: visible;
}

.fuck-css::after {
    content: '';
    position: relative;
    display: block;
    margin: auto;
    margin-top: 4vh;
    width: 530px;
    height: 1px;
    background: #735F64;
    z-index: 1;
}

.longtext {
    text-align: center;
    margin: auto;
    width: 530px;
}

@media only screen and (max-width: 1000px) {
    .css-sucks {
        width: 530px;
        height: 190px;
    }
    .fuck-css {
        background-position-x: 5vw, 60vw;
        background-position-y: -2vw, -2vw;
    }
    .fuck-css::after {
        width: 530px;
    }
    .longtext {
        width: 530px;
    }
}

@media only screen and (max-width: 745px) {
    .css-sucks {
        width: 371px;
        height: 134px;
    }
    .fuck-css {
        background-size: 250px auto;
        background-position-x: 5vw, 60vw;
        background-position-y: -2vw, -2vw;
    }
    .fuck-css::after {
        width: 371px;
    }
    .longtext {
        width: 371px;
    }
}

@media only screen and (max-width: 475px) {
    .css-sucks {
        width: 251px;
        height: 92px;
    }
    .fuck-css {
        background-size: 150px auto;
        background-position-x: 5vw, 60vw;
        background-position-y: -2vw, -2vw;
    }
    .fuck-css::after {
        width: 251px;
    }
    .longtext {
        width: 251px;
    }
}

@media only screen and (max-width: 445px) {
    .css-sucks {
        width: 175px;
        height: 65px;
    }
    .fuck-css::after {
        width: 175px;
    }
    .longtext {
        width: 175px;
    }
}

.fold-image {
    background-image: url("https://linnochlinn.se/path32.png");
    background-color: transparent;
    background-position: fill;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}

.first-subheading {
    margin-top: 5vh;
}

@font-face {
    font-family: 'Viaoda Libre';
    src: url('https://linnochlinn.se/ViaodaLibre-Regular.woff2') format('woff2'), url('https://linnochlinn.se/ViaodaLibre-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.text {
    font-family: 'Viaoda Libre', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    width: 100%;
}

body {
    background-color: #FAF9F6;
}

.footer {
    padding: 30px;
    text-align: center;
}

.form-link {
    font-weight: bold;
    width: 100%;
}